<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"

        xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
 		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
	<!-- 组件扫描器：必须指定组件类所在包 -->
	<context:component-scan base-package="coreTechnology.handler"></context:component-scan>

	<!-- 注册本地验证器 -->
	<bean name="testValidator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<!-- 设置验证器类型 -->
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
	</bean>
	
	<!-- 在注解启动器中配置验证器注解 -->
	<mvc:annotation-driven validator="testValidator"/>
	
	<!-- 接着将验证注解写到实体类中 -->
</beans>
