<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"

        xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
 		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
        
	<!-- 组件扫描器：必须指定组件类所在包 -->
	<context:component-scan base-package="coreTechnology.handler"></context:component-scan>
	
<!-- ———————————————————————————————DateConverter类型转换器方式—————————————————————————————————— -->	

<!-- 	注册日期类型转换器
	<bean name="testDateConvert" class="coreTechnology.handler.dataConvert.DateConvert"/>
	注册类型转化器服务工厂Bean
	<bean name="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<ref bean="testDateConvert"/>
			</set>
		</property>
	</bean>
	
	注册MVC注解驱动
	<mvc:annotation-driven conversion-service="conversionService"/> -->

</beans>
